.card-list {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  gap: 0.75rem;
}

.card {
  padding: 1.5rem;
  border-radius: 10px;
  background: linear-gradient(
    303.87deg,
    rgb(20 26 94 / 10%) 12.79%,
    rgb(0 177 152 / 10%) 72.93%
  );
  display: flex;
  align-items: center;
  gap: 1rem;
  position: relative;

  cursor: pointer;
  border: solid 1px rgb(229, 231, 235);
}

.card:hover {
  box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px,
    rgba(0, 0, 0, 0.2) 0px 3px 4px -2px, rgba(0, 0, 0, 0.2) 0px 2px 2px -2px;
}

.icon-wrap {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.icon-outer {
  background-color: rgba(55, 65, 81, 0.08);
  border-radius: 10px;
  padding: 10px;
}

.icon {
  width: 24px;
  height: 24px;
}

.card-title {
  position: relative;
  z-index: 10;
}

.md-content__button.button {
  border: solid 1px rgba(0, 0, 0, 0.3);
  border-radius: 6px;
  padding: 6px 12px;
  font-size: 0.6rem;
  display: flex;
  gap: 8px;
  align-items: center;
  color: rgba(0, 0, 0, 0.4);
  margin-top: 0.9rem;
}

.md-content__button.button:hover {
  color: var(--md-primary-fg-color);
  border: solid 1px var(--md-primary-fg-color);
}

.md-content__button.button > .twemoji {
  font-size: 0.7rem;
}

.bg {
  background-image: url(abstract_cloud.svg);
  background-position: 70% 35%;
  background-size: 150%;
  background-repeat: no-repeat;
  bottom: 0;
  height: 100%;
  left: 0;
  opacity: 0.12;
  position: absolute;
  z-index: 0;
  right: 0;
  top: 0;
  width: 100%;
}

.jupyter-wrapper .jp-RenderedHTMLCommon h1 center {
  font-size: 0.75em;
  margin: 40px 0;
}

.jp-RenderedHTMLCommon.jp-RenderedMarkdown.jp-MarkdownOutput > h1 {
  max-width: 78%;
}

.md-content__inner {
  position: relative;
}

.dl-btn {
  margin-left: 22px;
  font-size: 14px;
  display: inline-flex;
  align-items: center;
  gap: 6px;
  border: solid 1px #00b198;
  padding: 6px 14px;
  border-radius: 0.375rem;
}

a.dl-btn:hover {
  background-color: #00b198;
  color: #fff;
}

.dl-icon {
  width: 20px;
  height: 20px;
}

@media (min-width: 600px) {
  .card-list {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 1rem;
  }

  .dl-btn {
    position: absolute;
    right: 0;
    margin-top: 20px;
  }
}
